@import "_variables.scss";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Montserrat:wght@100;400;700&family=Poppins:wght@300;700&display=swap");

/* Typography */
h1,
h2,
h3,
h4 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: $ff-primary;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: $mobileL) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: $tablet) {
  h1 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: $laptop) {
  h1 {
    font-size: 3rem;
  }
}
